{% extends "base.html" %}

{% block content %}
<h1>Author</h1>
<h2>Who i am?</h2>
<p>My name is Joanna Krzyzanowska.I am a quite normal student at Economic University in Krakow.<br>
I am currently studying applied informatics and i decided to choose this field of study because <br>
i think it can give me good prospects in the future but also high paid job.<br>
My hobby is football and I was even in national team under 19 y/o.<br>
I think football was a very good lesson for me to learn new things about being a team player or <br>
hardworking, but there were also life lessons.</p>
{% endblock %}