<!DOCTYPE html>>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename ='style.css') }}">>

    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />

    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <link rel="stylesheet" href="/DataTables/datatables.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="/DataTables/datatables.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <title>Ceneo pl web scraper</title>


</head>
<body>
    <header>
        <h1>Ceneo pl web scraper</h1>
    </header>
    <section>
        <div class="buttons">
            <button onclick="location.href='{{ url_for('extract') }}'">extract</button>
            <button onclick="location.href='{{ url_for('author') }}'">author</button>
            <button onclick="location.href='{{ url_for('index') }}'">index</button>
            <button onclick="location.href='{{ url_for('products') }}'">products</button>
        </div>
        {% block content %}
           <p> This is base</p>
        {% endblock %}

    </section>
    <footer>
        <p> Joanna Krzyzanowska uek</p>
    </footer>
    {% block scripts %}
    {% endblock %}

</body>
</html>
