{% extends "base.html" %}
{% block content %}
    {% if error is defined%}
    <div class="alert alert-danger alert dismissable fade show" role="alert">
        <strong>error!!</strong> {{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <form class="container mt-3" method="POST" action="{{url_for('extract')}}">
        <div class="col-8">
            <label for="product_id" class="col-form-label">product code</label>
        </div>
        <div class="col-auto">
            <input type="text" id="product_id" name="product_id" class="form-control"aria-describedby="PasswordHelpInline" placeholder= "Enter product code" required>
        </div>
        <div class="col-auto">
            <span id="PasswordHelpInline" class="form-text">
                Must be 8-10 characters long
            </span>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-outline-dark">extract</button>
        </div>
    </form>

{% endblock %}
