{% extends "base.html" %}

{% block content %}
<h2>WHAT IS THE PURPOSE OF APPLICATION?</h2>
<p>Our application's primary goal is to gather product opinions from the Ceneo.pl website.</p>
<p>By providing a product code as a parameter, it extracts the product's name along with all available opinions about it.</p>
<h2>HERE IS A DESCRIPTION OFAPPLICATION'S OPERATIONS</h2>
<p>Welcome to our extraction page! Here, users can simply input a product code to unlock a wealth of information.</p>
<p>Our application swiftly retrieves the product's name and all opinions sourced from Ceneo.pl. Each opinion undergoes meticulous parsing, extracting crucial details like ID, author, recommendation, score, content, pros, cons, helpfulness ratings, publishing date, and purchase date.</p>
<p>Should an incorrect product code be entered, rest assured, our error prompt will guide you back on track!</p>
<h2>WHAT LIBRARIES WE USED?</h2>
<p>* app</p>
<p>* flask</p>
<p>* bs4</p>
<h2>APPLIED APPROACHES</h2>
<p></p>
{% endblock %}
